In [1]:
import pandas as pd

# Load the dataset
new_columns = ['reporter_iso_3', 'reporter_name', 'partner_iso_3', 'partner_name', 'year', 'trade_flow_name', 'trade_value_1000_usd']
trade_data = pd.read_csv('trade_1988_2021.csv')
display(trade_data.head())

,ReporterISO3,ReporterName,PartnerISO3,PartnerName,Year,TradeFlowName,TradeValue in 1000 USD
0,AFG,Afghanistan,SWE,Sweden,2017,Export,86.752
1,AFG,Afghanistan,JOR,Jordan,2018,Export,2796.481
2,AFG,Afghanistan,JOR,Jordan,2017,Export,3100.187
3,AFG,Afghanistan,ITA,Italy,2018,Export,279.918
4,AFG,Afghanistan,ITA,Italy,2017,Export,416.642

In [2]:
trade_data.columns = new_columns
trade_data["trade_value_usd"] = trade_data["trade_value_1000_usd"].apply(lambda x: x * 1000)
display(trade_data.head(30))

,reporter_iso_3,reporter_name,partner_iso_3,partner_name,year,trade_flow_name,trade_value_1000_usd,trade_value_usd
0,AFG,Afghanistan,SWE,Sweden,2017,Export,86.752,86752.0
1,AFG,Afghanistan,JOR,Jordan,2018,Export,2796.481,2796481.0
2,AFG,Afghanistan,JOR,Jordan,2017,Export,3100.187,3100187.0
3,AFG,Afghanistan,ITA,Italy,2018,Export,279.918,279918.0
4,AFG,Afghanistan,ITA,Italy,2017,Export,416.642,416642.0
5,AFG,Afghanistan,IRQ,Iraq,2018,Export,13190.080,13190080.0
6,AFG,Afghanistan,IRQ,Iraq,2017,Export,14563.223,14563223.0
7,AFG,Afghanistan,IRN,"Iran, Islamic Rep.",2018,Export,19508.634,19508634.0
8,AFG,Afghanistan,IRN,"Iran, Islamic Rep.",2017,Export,18112.759,18112759.0
9,AFG,Afghanistan,IND,India,2018,Export,359437.858,359437858.0
10,AFG,Afghanistan,IND,India,2017,Export,356139.528,356139528.0
11,AFG,Afghanistan,IDN,Indonesia,2018,Export,54.029,54029.0
12,AFG,Afghanistan,IDN,Indonesia,2017,Export,54.029,54029.0
13,AFG,Afghanistan,HUN,Hungary,2018,Export,10.144,10144.0
14,AFG,Afghanistan,HUN,Hungary,2017,Export,21.713,21713.0
15,AFG,Afghanistan,HKG,"Hong Kong, China",2018,Export,941.724,941724.0
16,AFG,Afghanistan,HKG,"Hong Kong, China",2017,Export,64.546,64546.0
17,AFG,Afghanistan,GRC,Greece,2017,Export,0.165,165.0
18,AFG,Afghanistan,GBR,United Kingdom,2018,Export,1540.377,1540377.0
19,AFG,Afghanistan,GBR,United Kingdom,2017,Export,870.069,870069.0
20,AFG,Afghanistan,FRA,France,2018,Export,534.921,534921.0
21,AFG,Afghanistan,FRA,France,2017,Export,513.065,513065.0
22,AFG,Afghanistan,FIN,Finland,2018,Export,1228.017,1228017.0
23,AFG,Afghanistan,FIN,Finland,2017,Export,3784.262,3784262.0
24,AFG,Afghanistan,ESP,Spain,2018,Export,51.170,51170.0
25,AFG,Afghanistan,ESP,Spain,2017,Export,90.352,90352.0
26,AFG,Afghanistan,EGY,"Egypt, Arab Rep.",2018,Export,1.065,1065.0
27,AFG,Afghanistan,DNK,Denmark,2018,Export,5.581,5581.0
28,AFG,Afghanistan,DNK,Denmark,2017,Export,117.959,117959.0
29,AFG,Afghanistan,DEU,Germany,2018,Export,5340.073,5340073.0

In [32]:
pip install pycountry-convert

Requirement already satisfied: pycountry-convert in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (0.7.2)
Requirement already satisfied: pytest-cov>=2.5.1 in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pycountry-convert) (4.0.0)
Requirement already satisfied: repoze.lru>=0.7 in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pycountry-convert) (0.7)
Requirement already satisfied: wheel>=0.30.0 in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pycountry-convert) (0.37.1)
Requirement already satisfied: pprintpp>=0.3.0 in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pycountry-convert) (0.4.0)
Requirement already satisfied: pytest>=3.4.0 in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pycountry-convert) (7.1.1)
Requirement already satisfied: pytest-mock>=1.6.3 in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pycountry-convert) (3.10.0)
Requirement already satisfied: pycountry>=16.11.27.1 in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pycountry-convert) (22.3.5)
Requirement already satisfied: setuptools in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pycountry>=16.11.27.1->pycountry-convert) (61.2.0)
Requirement already satisfied: attrs>=19.2.0 in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pytest>=3.4.0->pycountry-convert) (21.4.0)
Requirement already satisfied: iniconfig in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pytest>=3.4.0->pycountry-convert) (1.1.1)
Requirement already satisfied: packaging in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pytest>=3.4.0->pycountry-convert) (21.3)
Requirement already satisfied: pluggy<2.0,>=0.12 in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pytest>=3.4.0->pycountry-convert) (1.0.0)
Requirement already satisfied: py>=1.8.2 in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pytest>=3.4.0->pycountry-convert) (1.11.0)
Requirement already satisfied: tomli>=1.0.0 in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pytest>=3.4.0->pycountry-convert) (1.2.2)
Requirement already satisfied: coverage[toml]>=5.2.1 in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from pytest-cov>=2.5.1->pycountry-convert) (7.2.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/monicanavasmimiaga/opt/anaconda3/lib/python3.9/site-packages (from packaging->pytest>=3.4.0->pycountry-convert) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [50]:
import pycountry_convert
from pycountry_convert import country_alpha3_to_country_alpha2,country_alpha2_to_continent_code

In [52]:
def country_to_continent(country_code):
#    country_name = country_alpha3_to_country_name(country_code)
    country_alpha2 = pc.country_alpha3_to_country_alpha2(country_code)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name

# Example
country_code = 'AFG'
print(country_to_continent(country_code))

Asia

In [53]:
#create new columns
trade_data["reporter_continent"]=""
trade_data["partner_continent"]=""

In [59]:
for i in range(0,len(trade_data)):
    try:
        trade_data.loc[i,"reporter_continent"]=country_to_continent(trade_data.loc[i,"reporter_iso_3"])
        trade_data.loc[i,"partner_continent"]=country_to_continent(trade_data.loc[i,"partner_iso_3"])
    except KeyError:
        # ignore countries that don't have an alpha-2 or alpha-3 code
        pass

In [61]:
trade_data.head()

,reporter_iso_3,reporter_name,partner_iso_3,partner_name,year,trade_flow_name,trade_value_1000_usd,trade_value_usd,reporter_continent,partner_continent
0,AFG,Afghanistan,SWE,Sweden,2017,Export,86.752,86752.0,Asia,Europe
1,AFG,Afghanistan,JOR,Jordan,2018,Export,2796.481,2796481.0,Asia,Asia
2,AFG,Afghanistan,JOR,Jordan,2017,Export,3100.187,3100187.0,Asia,Asia
3,AFG,Afghanistan,ITA,Italy,2018,Export,279.918,279918.0,Asia,Europe
4,AFG,Afghanistan,ITA,Italy,2017,Export,416.642,416642.0,Asia,Europe

In [62]:
trade_data.to_csv('cleaned_trade_data.csv', index=False)