In [1]:
import pandas as pd
import numpy as np

# Load the dataset
new_columns = ['reporter_iso_3', 'reporter_name', 'partner_iso_3', 'partner_name', 'year', 'trade_flow_name', 'trade_value_1000_usd']
trade_data = pd.read_csv('../data/trade_1988_2021.csv')

display(trade_data.head())
trade_data.shape

,ReporterISO3,ReporterName,PartnerISO3,PartnerName,Year,TradeFlowName,TradeValue in 1000 USD
0,AFG,Afghanistan,SWE,Sweden,2017,Export,86.752
1,AFG,Afghanistan,JOR,Jordan,2018,Export,2796.481
2,AFG,Afghanistan,JOR,Jordan,2017,Export,3100.187
3,AFG,Afghanistan,ITA,Italy,2018,Export,279.918
4,AFG,Afghanistan,ITA,Italy,2017,Export,416.642

(634509, 7)

In [2]:
# Add column trade_value_usd
trade_data.columns = new_columns
trade_data["trade_value_usd"] = trade_data["trade_value_1000_usd"].apply(lambda x: x * 1000)

# Delete rows that have NA for trade_value_1000_usd & trade_value_usd
trade_data = trade_data[trade_data["trade_value_usd"].isnull() == False]
trade_data = trade_data[trade_data["trade_value_usd"] != 0.0]

# Only consider data from the 2000s
trade_data = trade_data[trade_data["year"] >= 2000]

display(trade_data.head())
trade_data.shape

,reporter_iso_3,reporter_name,partner_iso_3,partner_name,year,trade_flow_name,trade_value_1000_usd,trade_value_usd
0,AFG,Afghanistan,SWE,Sweden,2017,Export,86.752,86752.0
1,AFG,Afghanistan,JOR,Jordan,2018,Export,2796.481,2796481.0
2,AFG,Afghanistan,JOR,Jordan,2017,Export,3100.187,3100187.0
3,AFG,Afghanistan,ITA,Italy,2018,Export,279.918,279918.0
4,AFG,Afghanistan,ITA,Italy,2017,Export,416.642,416642.0

(479446, 8)

In [3]:
## Data Cleaning for reporter
# The Dutch Antilles were dissolved in 2010
trade_data = trade_data[trade_data['reporter_iso_3'] != 'ANT']
# Other Asia n.e.s. is not a country
trade_data = trade_data[trade_data['reporter_iso_3'] != 'OAS']
# Zaire is not a country in the 2000s
trade_data = trade_data[trade_data['reporter_iso_3'] != 'ZAR']
# The European Union is not a country
trade_data = trade_data[trade_data['reporter_iso_3'] != 'EUN']
# ISO3 code of Montenegro is MNE not MNT
trade_data['reporter_iso_3'] = trade_data['reporter_iso_3'].replace(to_replace = 'MNT', value = 'MNE', regex=True)
# ISO3 code of Romania is ROU not ROM
trade_data['reporter_iso_3'] = trade_data['reporter_iso_3'].replace(to_replace = 'ROM', value = 'ROU', regex=True)
# ISO3 code of Serbia is SRB not SER
trade_data['reporter_iso_3'] = trade_data['reporter_iso_3'].replace(to_replace = 'SER', value = 'SRB', regex=True)
# ISO3 code of Sudan is SDN not SUD
trade_data['reporter_iso_3'] = trade_data['reporter_iso_3'].replace(to_replace = 'SUD', value = 'SDN', regex=True)
# ISO3 code of East Timor is TL not TMP
trade_data['reporter_iso_3'] = trade_data['reporter_iso_3'].replace(to_replace = 'TMP', value = 'TLS', regex=True)

## Data Cleaning for partner
# The Dutch Antilles were dissolved in 2010
trade_data = trade_data[trade_data['partner_iso_3'] != 'ANT']
# Other Asia n.e.s. is not a country
trade_data = trade_data[trade_data['partner_iso_3'] != 'OAS']
# Zaire is not a country in the 2000s
trade_data = trade_data[trade_data['partner_iso_3'] != 'ZAR']
# The European Union is not a country
trade_data = trade_data[trade_data['partner_iso_3'] != 'EUN']
# Taking out export to 'the World'
trade_data = trade_data[trade_data['partner_iso_3'] != 'WLD']
# Taking out 'unspecified' partner rows
trade_data = trade_data[trade_data['partner_iso_3'] != 'UNS']
# Taking out French Southern and Antarctic Lands
trade_data = trade_data[trade_data['partner_iso_3'] != 'ATF']
# Taking out United States Minor Outlying Islands
trade_data = trade_data[trade_data['partner_iso_3'] != 'UMI']
# Taking out Pitcairn
trade_data = trade_data[trade_data['partner_iso_3'] != 'PCN']
# Taking out Sint-Maarten
trade_data = trade_data[trade_data['partner_iso_3'] != 'SXM']
# Taking out the Free Zones
trade_data = trade_data[trade_data['partner_iso_3'] != 'FRE']
# Taking out Holy See
trade_data = trade_data[trade_data['partner_iso_3'] != 'VAT']
# Taking out Bunkers
trade_data = trade_data[trade_data['partner_iso_3'] != 'BUN']
# Taking out Special Categories
trade_data = trade_data[trade_data['partner_iso_3'] != 'SPE']
# Taking out Us Msc.Pac.I
trade_data = trade_data[trade_data['partner_iso_3'] != 'USP']
# Taking out Neutral Zone
trade_data = trade_data[trade_data['partner_iso_3'] != 'NZE']
# Taking out Br. Antr. Terr
trade_data = trade_data[trade_data['partner_iso_3'] != 'BAT']
# ISO3 code of Montenegro is MNE not MNT
trade_data['partner_iso_3'] = trade_data['partner_iso_3'].replace(to_replace = 'MNT', value = 'MNE', regex=True)
# ISO3 code of Romania is ROU not ROM
trade_data['partner_iso_3'] = trade_data['partner_iso_3'].replace(to_replace = 'ROM', value = 'ROU', regex=True)
# ISO3 code of Serbia is SRB not SER
trade_data['partner_iso_3'] = trade_data['partner_iso_3'].replace(to_replace = 'SER', value = 'SRB', regex=True)
# ISO3 code of Sudan is SDN not SUD
trade_data['partner_iso_3'] = trade_data['partner_iso_3'].replace(to_replace = 'SUD', value = 'SDN', regex=True)
# ISO3 code of East Timor is TL not TMP
trade_data['partner_iso_3'] = trade_data['partner_iso_3'].replace(to_replace = 'TMP', value = 'TLS', regex=True)

display(trade_data.head())
trade_data.shape

,reporter_iso_3,reporter_name,partner_iso_3,partner_name,year,trade_flow_name,trade_value_1000_usd,trade_value_usd
0,AFG,Afghanistan,SWE,Sweden,2017,Export,86.752,86752.0
1,AFG,Afghanistan,JOR,Jordan,2018,Export,2796.481,2796481.0
2,AFG,Afghanistan,JOR,Jordan,2017,Export,3100.187,3100187.0
3,AFG,Afghanistan,ITA,Italy,2018,Export,279.918,279918.0
4,AFG,Afghanistan,ITA,Italy,2017,Export,416.642,416642.0

(452490, 8)

In [4]:
import pycountry_convert as pc
from pycountry_convert import country_alpha3_to_country_alpha2,country_alpha2_to_continent_code

In [5]:
# Dictionary ISO2 country code : continent
country_alpha2_to_continent_dict = {
    'AB': 'Asia',
    'AD': 'Europe',
    'AE': 'Asia',
    'AF': 'Asia',
    'AG': 'North America',
    'AI': 'North America',
    'AL': 'Europe',
    'AM': 'Asia',
    'AO': 'Africa',
    'AQ': 'Antarctica',
    'AR': 'South America',
    'AS': 'Oceania',
    'AT': 'Europe',
    'AU': 'Oceania',
    'AW': 'North America',
    'AX': 'Europe',
    'AZ': 'Asia',
    'BA': 'Europe',
    'BB': 'North America',
    'BD': 'Asia',
    'BE': 'Europe',
    'BF': 'Africa',
    'BG': 'Europe',
    'BH': 'Asia',
    'BI': 'Africa',
    'BJ': 'Africa',
    'BL': 'North America',
    'BM': 'North America',
    'BN': 'Asia',
    'BO': 'South America',
    'BQ': 'North America',
    'BR': 'South America',
    'BS': 'North America',
    'BT': 'Asia',
    'BV': 'Antarctica',
    'BW': 'Africa',
    'BY': 'Europe',
    'BZ': 'North America',
    'CA': 'North America',
    'CC': 'Asia',
    'CD': 'Africa',
    'CF': 'Africa',
    'CG': 'Africa',
    'CH': 'Europe',
    'CI': 'Africa',
    'CK': 'Oceania',
    'CL': 'South America',
    'CM': 'Africa',
    'CN': 'Asia',
    'CO': 'South America',
    'CR': 'North America',
    'CU': 'North America',
    'CV': 'Africa',
    'CW': 'North America',
    'CX': 'Asia',
    'CY': 'Asia',
    'CZ': 'Europe',
    'DE': 'Europe',
    'DJ': 'Africa',
    'DK': 'Europe',
    'DM': 'North America',
    'DO': 'North America',
    'DZ': 'Africa',
    'EC': 'South America',
    'EE': 'Europe',
    'EG': 'Africa',
    'EH': 'Africa',
    'ER': 'Africa',
    'ES': 'Europe',
    'ET': 'Africa',
    'FI': 'Europe',
    'FJ': 'Oceania',
    'FK': 'South America',
    'FM': 'Oceania',
    'FO': 'Europe',
    'FR': 'Europe',
    'GA': 'Africa',
    'GB': 'Europe',
    'GD': 'North America',
    'GE': 'Asia',
    'GF': 'South America',
    'GG': 'Europe',
    'GH': 'Africa',
    'GI': 'Europe',
    'GL': 'North America',
    'GM': 'Africa',
    'GN': 'Africa',
    'GP': 'North America',
    'GQ': 'Africa',
    'GR': 'Europe',
    'GS': 'South America',
    'GT': 'North America',
    'GU': 'Oceania',
    'GW': 'Africa',
    'GY': 'South America',
    'HK': 'Asia',
    'HM': 'Antarctica',
    'HN': 'North America',
    'HR': 'Europe',
    'HT': 'North America',
    'HU': 'Europe',
    'ID': 'Asia',
    'IE': 'Europe',
    'IL': 'Asia',
    'IM': 'Europe',
    'IN': 'Asia',
    'IO': 'Asia',
    'IQ': 'Asia',
    'IR': 'Asia',
    'IS': 'Europe',
    'IT': 'Europe',
    'JE': 'Europe',
    'JM': 'North America',
    'JO': 'Asia',
    'JP': 'Asia',
    'KE': 'Africa',
    'KG': 'Asia',
    'KH': 'Asia',
    'KI': 'Oceania',
    'KM': 'Africa',
    'KN': 'North America',
    'KP': 'Asia',
    'KR': 'Asia',
    'KW': 'Asia',
    'KY': 'North America',
    'KZ': 'Asia',
    'LA': 'Asia',
    'LB': 'Asia',
    'LC': 'North America',
    'LI': 'Europe',
    'LK': 'Asia',
    'LR': 'Africa',
    'LS': 'Africa',
    'LT': 'Europe',
    'LU': 'Europe',
    'LV': 'Europe',
    'LY': 'Africa',
    'MA': 'Africa',
    'MC': 'Europe',
    'MD': 'Europe',
    'ME': 'Europe',
    'MF': 'North America',
    'MG': 'Africa',
    'MH': 'Oceania',
    'MK': 'Europe',
    'ML': 'Africa',
    'MM': 'Asia',
    'MN': 'Asia',
    'MO': 'Asia',
    'MP': 'Oceania',
    'MQ': 'North America',
    'MR': 'Africa',
    'MS': 'North America',
    'MT': 'Europe',
    'MU': 'Africa',
    'MV': 'Asia',
    'MW': 'Africa',
    'MX': 'North America',
    'MY': 'Asia',
    'MZ': 'Africa',
    'NA': 'Africa',
    'NC': 'Oceania',
    'NE': 'Africa',
    'NF': 'Oceania',
    'NG': 'Africa',
    'NI': 'North America',
    'NL': 'Europe',
    'NO': 'Europe',
    'NP': 'Asia',
    'NR': 'Oceania',
    'NU': 'Oceania',
    'NZ': 'Oceania',
    'OM': 'Asia',
    'OS': 'Asia',
    'PA': 'North America',
    'PE': 'South America',
    'PF': 'Oceania',
    'PG': 'Oceania',
    'PH': 'Asia',
    'PK': 'Asia',
    'PL': 'Europe',
    'PM': 'North America',
    'PR': 'North America',
    'PS': 'Asia',
    'PT': 'Europe',
    'PW': 'Oceania',
    'PY': 'South America',
    'QA': 'Asia',
    'RE': 'Africa',
    'RO': 'Europe',
    'RS': 'Europe',
    'RU': 'Europe',
    'RW': 'Africa',
    'SA': 'Asia',
    'SB': 'Oceania',
    'SC': 'Africa',
    'SD': 'Africa',
    'SE': 'Europe',
    'SG': 'Asia',
    'SH': 'Africa',
    'SI': 'Europe',
    'SJ': 'Europe',
    'SK': 'Europe',
    'SL': 'Africa',
    'SM': 'Europe',
    'SN': 'Africa',
    'SO': 'Africa',
    'SR': 'South America',
    'SS': 'Africa',
    'ST': 'Africa',
    'SV': 'North America',
    'SY': 'Asia',
    'SZ': 'Africa',
    'TC': 'North America',
    'TD': 'Africa',
    'TG': 'Africa',
    'TH': 'Asia',
    'TJ': 'Asia',
    'TK': 'Oceania',
    'TL':'Asia',
    'TM': 'Asia',
    'TN': 'Africa',
    'TO': 'Oceania',
    'TP': 'Asia',
    'TR': 'Asia',
    'TT': 'North America',
    'TV': 'Oceania',
    'TW': 'Asia',
    'TZ': 'Africa',
    'UA': 'Europe',
    'UG': 'Africa',
    'US': 'North America',
    'UY': 'South America',
    'UZ': 'Asia',
    'VC': 'North America',
    'VE': 'South America',
    'VG': 'North America',
    'VI': 'North America',
    'VN': 'Asia',
    'VU': 'Oceania',
    'WF': 'Oceania',
    'WS': 'Oceania',
    'XK': 'Europe',
    'YE': 'Asia',
    'YT': 'Africa',
    'ZA': 'Africa',
    'ZM': 'Africa',
    'ZW': 'Africa',
    'EUN': 'None'
}

In [6]:
def country_to_continent(country_code):
#   country_name = country_alpha3_to_country_name(country_code)
    country_alpha2 = pc.country_alpha3_to_country_alpha2(country_code)
    country_continent_name = country_alpha2_to_continent_dict[country_alpha2]
    return country_continent_name

# Example
country_code = 'AFG'
print(country_to_continent(country_code))

Asia

In [7]:
trade_data['reporter_continent'] = trade_data['reporter_iso_3'].apply(country_to_continent)
trade_data['partner_continent'] = trade_data['partner_iso_3'].apply(country_to_continent)

display(trade_data.head())
trade_data.shape

,reporter_iso_3,reporter_name,partner_iso_3,partner_name,year,trade_flow_name,trade_value_1000_usd,trade_value_usd,reporter_continent,partner_continent
0,AFG,Afghanistan,SWE,Sweden,2017,Export,86.752,86752.0,Asia,Europe
1,AFG,Afghanistan,JOR,Jordan,2018,Export,2796.481,2796481.0,Asia,Asia
2,AFG,Afghanistan,JOR,Jordan,2017,Export,3100.187,3100187.0,Asia,Asia
3,AFG,Afghanistan,ITA,Italy,2018,Export,279.918,279918.0,Asia,Europe
4,AFG,Afghanistan,ITA,Italy,2017,Export,416.642,416642.0,Asia,Europe

(452490, 10)

In [8]:
import geopy.geocoders
from geopy.geocoders import Nominatim
geolocator=Nominatim(user_agent="my_app")

In [9]:
list_countries_reporter= list(trade_data.reporter_name.unique())
list_countries_partner= list(trade_data.partner_name.unique())
list_countries=(list_countries_reporter+list_countries_partner)
list_countries=list(dict.fromkeys(list_countries))

In [10]:

# define the function that will generate the second column
def get_longitude(country):
    try:
        return geolocator.geocode(country).longitude
    except AttributeError:
        # ignore countries that don't have an alpha-2 or alpha-3 code
        pass

# define the function that will generate the second column
def get_latitude(country):
    try:
        return geolocator.geocode(country).latitude
    except AttributeError:
        # ignore countries that don't have an alpha-2 or alpha-3 code
        pass

# create a list of values for the second column using the function
longitude_list = [get_longitude(item) for item in list_countries]
latitude_list=[get_latitude(item) for item in list_countries]

# create a dictionary with the column names as keys and the columns as values
my_dict = {'country': list_countries, 'longitude': longitude_list, 'latitude': latitude_list}

# create the DataFrame from the dictionary
coordinates_df = pd.DataFrame(my_dict)

In [ ]:
coordinates_df = pd.DataFrame(my_dict)

In [ ]:
merged_reporter_df = pd.merge(trade_data, coordinates_df, left_on='reporter_name', right_on='country', how='left')
trade_data["reporter_lat"] = merged_reporter_df["latitude"]
trade_data["reporter_long"] = merged_reporter_df["longitude"]

merged_partner_df = pd.merge(trade_data, coordinates_df, left_on='partner_name', right_on='country', how='left')
trade_data["partner_lat"] = merged_partner_df["latitude"]
trade_data["partner_long"] = merged_partner_df["longitude"]

In [ ]:
display(trade_data.head())
trade_data.shape

,reporter_iso_3,reporter_name,partner_iso_3,partner_name,year,trade_flow_name,trade_value_1000_usd,trade_value_usd,reporter_continent,partner_continent,reporter_lat,reporter_long,partner_lat,partner_long
0,AFG,Afghanistan,SWE,Sweden,2017,Export,86.752,86752.0,Asia,Europe,33.768006,66.238514,59.674971,14.520858
1,AFG,Afghanistan,JOR,Jordan,2018,Export,2796.481,2796481.0,Asia,Asia,33.768006,66.238514,31.166705,36.941628
2,AFG,Afghanistan,JOR,Jordan,2017,Export,3100.187,3100187.0,Asia,Asia,33.768006,66.238514,31.166705,36.941628
3,AFG,Afghanistan,ITA,Italy,2018,Export,279.918,279918.0,Asia,Europe,33.768006,66.238514,42.638426,12.674297
4,AFG,Afghanistan,ITA,Italy,2017,Export,416.642,416642.0,Asia,Europe,33.768006,66.238514,42.638426,12.674297

(460969, 14)

In [ ]:
trade_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 460969 entries, 0 to 634508
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   reporter_iso_3        460969 non-null  object
 1   reporter_name         460969 non-null  object
 2   partner_iso_3         460969 non-null  object
 3   partner_name          460969 non-null  object
 4   year                  460969 non-null  int64
 5   trade_flow_name       460969 non-null  object
 6   trade_value_1000_usd  460969 non-null  float64
 7   trade_value_usd       460969 non-null  float64
 8   reporter_continent    460969 non-null  object
 9   partner_continent     460969 non-null  object
 10  reporter_lat          320529 non-null  float64
 11  reporter_long         320529 non-null  float64
 12  partner_lat           317063 non-null  float64
 13  partner_long          317063 non-null  float64
dtypes: float64(6), int64(1), object(7)
memory usage: 52.8+ MB

In [ ]:
trade_data.to_csv('../data/cleaned_trade_data.csv', index=False)